/*Start Global Rules*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
    /* font-family: 'Audiowide', cursive; */
}

:root{
    --color-one : #06283D;
    --color-two : #1363DF;
    --color-three : #47B5FF;
    --color-four : #DFF6FF;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.con{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .con{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .con{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .con{
        width: 1170px;
    }
}

/* End Global Rules */

/*Start Header*/

header{
    background-color: var(--color-four);
}

header .con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

header h2{
    color: var(--color-one);
    font-size: 30px;
    cursor: pointer;
}

header ul{
    display: flex;
    justify-content: space-between;
}
header ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    font-size: 19px;
    font-weight: 700;
    height: 65px;
    color: var(--color-two);
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    z-index: 5;
}

header ul li a:hover{
    color: white;
}

header .con ul li a::before{
    content: "";
    width: 100%;
    height: 65px;
    position: absolute;
    background-color: var(--color-two);
    bottom: -100%;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

header .con ul li a:hover::before{
    bottom: 0;
    opacity: 1;
}

@media (max-width: 768px) {
    header .con{
        flex-direction: column;
    }

    header .con h2{
        margin: 5px 0;
    }
    
    header ul li a{
        font-size: 15px;
        padding: 0 15px;
        height: 55px;
    }
}

/* End Header */

/*Start Landing*/

.landing{
    position: relative;
    background-color: var(--color-three);
}

.landing .con{
    min-height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}

.landing .content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.landing .content h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -1.4px;
}

.landing .content h1 span{
    color: var(--color-one);
}

.landing .content p{
    color: rgb(82, 82, 82);
    font-size: 23px;
    line-height: 1.7;
    max-width: 500px;
}

.landing .content .btns{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.landing .content .btns a{
    padding: 5px 20px;
    background-color: var(--color-one);
    color: var(--color-four);
    font-weight: 400;
    font-size: 22px;
    border-radius: 5px;
}

.landing .content .btns .port{
    margin-left: 15px;
    padding: 3px 18px;
    background-color: transparent;
    border: var(--color-one) solid 2px;
    color: var(--color-one);
}

.landing img{
    position: relative;
    animation-name: up-down;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes up-down {
    0%, 100% {
        top: 25px;
    }

    50% {
        top: -25px;
    }
}

@media (max-width: 992px) {
    .landing .img{
        display: none;
    }

    .landing .content{
        text-align: center;
    }

    .landing .content .btns{
        justify-content: center;
    }

    .landing .content p{
        margin: 0 auto;
        font-size: 19px;
    }
    .landing .con{
        min-height: calc(100vh - 99px);
    }
}

/* End Landing */